body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  font-family: sans-serif;
  background-color: #628258;
}

.MAINCONTENT {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #628258;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

header h3 {
  font-size: 60px;
  margin: 10px 0;
  color: white;
}

header nav {
  margin-top: 20px;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

/* Containers */
.mycontainer,
.notmycontainer,
.othercontainer {
  background-color: #628258;
  height: 80vh;
}


footer {
    background: #49623c;
    padding: 20px;
    text-align: center;
}

footer .sprite1 {
  position: absolute;
  right: 400px;  
}

footer .sprite2 {
  position: absolute;
  right: 400px;  
}

#INFOM {
  margin-left:1200px;
  color:white;
}

/* Navigation */
nav {
  margin-left:1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0;
  width: 100%;
  position: relative;
  z-index: 2;
  gap:30px;
  border-radius: 12px;
}

 nav a {
           
   color: #000000;
   text-align: center;
  padding: 14px 16px;
   text-decoration: none;
  font-size: 17px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  padding: 8px 14px;
  transition: all 0.3s ease;
    }
nav a:hover {
      text-align:center;
      color: rgb(0, 0, 0);

  background-color: #628258;
  color: #fff;
  border-radius: 8px;
    }

nav a.active {
  background-color: white;
  color: white;
  text-align: center;
}




/* Floating/Positioned Elements */
#LOCATION {
  text-align: right;
  z-index: 2;
  float: right;
  margin-right: 40px;
  padding: 10px;
  background-color: black;
  color: white;
  position: fixed;
  top: 20px;
  right: 140px;
  opacity: 0.7;
}

#ISKOCRACY {
  float:left;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  opacity: 0.5;
  z-index: 2;
}

#ISKORCACY {
  margin-left: -600px;
  width: 100px;
  height: 100px;
  opacity: 0.5;
}


#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
  filter: brightness(70%);
}


.sprite1 {
  background: url('social-media-logos-icons-set_69286-203.avif') 
  no-repeat -524px -64px;
  width: 20px;
  height: 32px;
}
.sprite2 {
	background: url('social-media-logos-icons-set_69286-203.avif') 
  no-repeat -439px -180px;
	width: 27px;
	height: 30px;
}

/* Headings */
h2 {

    border-radius: 10px;
        margin-right: 30px;
        margin-left :1010px;
            text-align: center;
            font-size: 40px;
           float:center;
             padding: 1px;
              background-color: #47593e;
             color:#ffffff;
    }

h3 {

    border-radius: 10px;
        padding: 10px;
            text-align: center;
            font-size: 100px;
    }

h4 {

    border-radius: 10px;
        margin-right: 1010px;
        margin-left :30px;
            text-align: center;
            font-size: 40px;
           float:center;
             padding: 1px;
             background-color: #47593e;
             color:#ffffff;
}

h5,
h6 {

    border-radius: 10px;
  width: 650px;
  text-align: center;
  padding: 1px;
  margin: auto;
  font-size: 40px;
  background-color: #47593e;
  color: white;
}

/* Content Sections */
#footballteam {
  float: left; 
            margin-top: 35PX;
            margin-left: 30px;
            height: 60vh;
            width: 70vh;
}


#SDG3 {
  background-color: rgba(129, 155, 116, 0.7); 
  text-align: center;
  font-size: 30px;
  border: 3px solid #000000;
  padding: 10px 20px;
  color: white;
  margin: 40px auto;          
  border-radius: 8px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
  transition: all 1s ease-out;
}

#ADVOCACYBACKGROUND {
  text-align: right;
  margin-right: 30px;
            color:rgb(255, 246, 246);
            font-size: 30x;
            line-height: 40px;
}

#selfpic {
  float: right;
  margin-top: 50px;
  margin-right: 110px;
  height: 60vh;
    width: 50vh;
}

#abouttheauthor {
  text-align: left;
  line-height: 2;
            margin: 30px;
            font-size: 20px;
            float:center;
            color: white;
}

/* Logos */
#MLOGO,
#EMAILLOGO {
  float: left;
  margin-left: 30px;
  width: 150px;
  height: 100px;
}

#UST,
#UN,
#WHO,
#MAPUA {
  float: left;
  margin-right: 8px;
  margin-left:38px;
  margin-top:10px;
  width: 200px;
  height: 200px;
}
.TITLE {
    text-align: center;
    font-size: 30px;
    color: white;
}
#UN,
#WHO {
  background-color: white;
}

.UNITEDNATIONS,
.UST,
.WHO,
.MAPUA {
  width: 850px;
  height: 330px;
  float: left;
}

.WHO {
  clear: both;
}

/* Details */
#MESSENGERUSER,
#emailLogo,
#EMAILUSER {
  text-align: left;
  margin-left: 250px;
  margin-top: 30px;
  font-size: 20px;
  color: white;
}

.MESSENGERDETAILS {
    margin: auto;
  width: 40%;
}
.EMAILDETAILS {
  clear: both;
  margin: auto;
  width: 40%;
}


#finalmessage {
  font-size: 25px;
  text-align: center;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}

#REFERENCES {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 0 auto;
  display: block;
  color:white;
}

#REFER {
  color:white;
  text-align: center;
  font-size: 25px;
}


/* HOVER, ETC AND ANIMATIONS AT THE END */

nav a:hover {
  transform: translateY(-3px);
}

h1:hover {
  opacity: 0.7;
  transition: 0.4s ease;
}
h2:hover {
  transform: scale(1.05);
  transition: 0.4s ease;
   text-shadow: 
    0 0 10px rgb(0, 0, 0), 
}
h3:hover {
  opacity:0.7;
  transform: scale(1.05);
  transition: 0.4s ease;

}
h5:hover {
  opacity:0.7;
  transform: scale(1.05);
  transition: 0.4s ease;

}
article:hover {
  transform: scale(1.02);
  transition: 0.4s ease;
}

img:hover {
  transform: scale(1.067);
  transition: 0.4s ease;
}

nav a:not(.active):hover {
  box-shadow: 0 0 6px rgba(98, 130, 88, 0.8);
}

p:hover {
  transform: scale(1.02);
  transition: 0.4s ease;
}
h4:hover {
  transform: scale(1.067);
  color:white;
  transition: 0.4s ease;
}

section:hover {
  transition: 0.4s ease;
  filter: brightness(107%);
}

aside:hover {
  transform: scale(1.02);
  transition: 0.4s ease;
}


#WHOTEXT:hover{ 
  font-size: 19px;
  padding:5px;
}
#ZuelligTEXT:hover{ 
   font-size: 19px;
  padding:5px;
}


* {
  animation: fadeIn 0.67s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
