body {
  margin: 0;                  
  padding: 0;
  width: 100%;                
  height: 100%;              
  border: none;               
  font-family: sans-serif, sans-serif, sans-serif;
  background-color: #628258;
}

.MAINCONTENT {
  width: 100%;                
  min-height: 100vh;         
  margin: 0;                  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #628258;
}

header.heading {
  position: relative;
  width: 100%;
  height: 100vh;   
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

header.heading h3 {
  font-size: 60px;
  margin: 10px 0;
  color: white;
}

header.heading nav {
  margin-top: 20px;            
  border: none;                
  background: rgba(255,255,255,0.8);
  border-radius: 8px;          
}


#PAGELOCATION {
            text-align: right;
  z-index: 2;   
  float: right;
  margin-right: 40px;
  padding: 10px;
  background-color: black;
  color: white;
  position: fixed;
  top: 20px; 
  right: 140px;
  opacity: 0.7;
}
  nav {
  display: flex;
  justify-content: space-between;
  align-items: center;            
  padding: 15px 30px;            
  background: rgba(255, 255, 255, 0.9); 
  border-radius: 0;              
  width: 100%;                    
  position: relative;
  z-index: 2;
}
  
  h2 {
        margin-right: 140px;
        margin-left :870px;
            text-align: center;
            font-size: 40px;
           float:center;
             padding: 1px;
             background-color: #47593e;
             color:#ffffff;
    }
    h3 {
        padding: 10px;
            text-align: center;
            font-size: 100px;
    }
    h4 {
      background-color: #47593e;
  margin-left: 200px;
  margin-right :800px;
  text-align: center;
  float:center;
  font-size: 40px;
  padding: 1px;
  color:#ffffff;
}


    h5 {
        padding: 10px;
            text-align: center;
            font-size: 45px;
            color:#ffffff;
            background-color: #47593e;
            margin-right: 400px;
            margin-left: 400px;
    }

    H6 {

      float: center;
      background-color: #47593e;
        padding: 10px;
            text-align: center;
            font-size: 45px;
            color:#ffffff;
            
            
            
    }
#SDG3 {
  background-color: rgba(129, 155, 116, 0.7); 
  text-align: center;
  font-size: 30px;
  border: 3px solid #000000;
  padding: 10px 20px;
  color: white;
  margin: 40px auto;          
  border-radius: 8px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
  transition: all 1s ease-out;
}
  
    #LOCATION {
    float: left; 
            margin-top: 35PX;
            margin-left: 30px;
            height: 60vh;
            width: 70vh;
    }
    nav a {
           
            color: #000000;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
    }
    nav a:hover {
      text-align:center;
      background-color: white ;
      color: rgb(0, 0, 0);
    }

    .mycontainer {
            BACKGROUND-COLOR: #628258;
            height: 80vh;
            
    }
    .notmycontainer {
        
        height: 80vh;
        
        background-color: #628258
    }
    #STATSANDIMAGESSECTION {
         
        height: 80vh;
          background-color: #517048
          
    }
    #MATERNAL {
       position: relative;
      left: 50px;
    }

  

    #newcontainer {
      background-color: #628258;
    text-align: center;
    padding: 30px;
    border-radius: 8px;
      max-width: 900px;
      margin: 0 auto;
      
}


#SELFIMAGE {
      display: block;
      margin: 0 auto 20px;   
}
#newcontainer h6 {
      font-size: 45px;
      font-weight: bold;
      margin: 0px 0 0px;  
      padding: 10px 20px;
      background-color: #47593e;
      color: white;
}

#MYROLE {

      padding: 10px 20px;
      background-color: #628258;
      color: rgb(255, 255, 255);
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 6px;
      font-size: 18px;
      line-height: 1.6;
}

footer {
    background: #49623c;
    padding: 20px;
    text-align: center;
}
footer .sprite1 {
  position: absolute;
  right: 400px;  
}

footer .sprite2 {
  position: absolute;
  right: 400px;  
}

.sprite1 {
  background: url('../images/social-media-logos-icons-set_69286-203.avif') 
  no-repeat -524px -64px;
  width: 20px;
  height: 32px;
}
.sprite2 {
	background: url('../images/social-media-logos-icons-set_69286-203.avif') 
  no-repeat -439px -180px;
	width: 27px;
	height: 30px;
}


#INFOM {
  margin-left:1200px;
  color:white;
}
    

    
    #PROBLEMBG {
            text-align: center;
            color:rgb(255, 246, 246);
            font-size: 30x;
            line-height: 37px;
    }



    #WHATDONE {
  text-align: center;   
  color:rgb(255, 255, 255);
            font-size: 30x;
            line-height: 37px;    
  margin-left: 100px;
  margin-right :650px;
}

#DAVAODOCTORS {
  float: right;
  margin: 10px 20px 10px 20px;  
  width: 630px;   
  height: 640px
  
}
#ISKORCACY {
  margin-left: -630px;
  width: 100px;
  height: 100px;
  opacity: 0.5
}

#DOC, #MMR, #BDRIVE {
  font-size: 30px;
  margin-top: 10px;
  color: black;
  background-color: #819B74 ;
}


#finalmessage {
  font-size: 25px;
  text-align: center;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}
            


    
        


    #whatdone {
            text-align: center;
            margin: 20px;
            font-size: 20px;
            float:center;
            color: white;
    }

    .IMAGES {
        width:500px;
        height:400px;
        opacity: 80%;
    }

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
  background: white(126, 111, 111, 0.9);
  border-radius: 12px;
  position: relative;
  z-index: 2;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  padding: 8px 14px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #628258;
  color: #fff;
  border-radius: 8px;
}

nav a.active {
  text-align: center;
  background-color: white ;
  color: white;
}

#ISKOCRACY {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  z-index: +2; 
  margin-left: 100px;
  opacity: 0.5;
}
#ISKOGO {
  float:left;
  margin-left: 8px;
  width: 100px;
  height: 100px;
  opacity: 0.5

}


#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
  filter: brightness(70%);
}



  .stats-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.stat-item {
  text-align: center;
  margin: 10px;
}

.TEXT {
    size: 100px;
}

#INSPIRE {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  color:white;
}

#REFERENCES {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 0 auto;
  display: block;
  color:white;
}

#REFER {
  color:white;
  text-align: center;
  font-size: 25px;
}


/* HOVER, ETC AND ANIMATIONS AT THE END */

nav a:hover {
  transform: translateY(-3px);
}

h1:hover {
  opacity: 0.7;
  transition: 0.4s ease;
}
h2:hover {
  transform: scale(1.05);
  transition: 0.4s ease;
   text-shadow: 
    0 0 10px rgb(0, 0, 0), 
}
h3:hover {
  opacity:0.7;
  transform: scale(1.05);
  transition: 0.4s ease;

}
h5:hover {
  opacity:0.7;
  transform: scale(1.05);
  transition: 0.4s ease;

}
article:hover {
  transform: scale(1.02);
  transition: 0.4s ease;
}

img:hover {
  transform: scale(1.067);
  transition: 0.4s ease;
}

nav a:not(.active):hover {
  box-shadow: 0 0 6px rgba(98, 130, 88, 0.8);
}

p:hover {
  transform: scale(1.02);
  transition: 0.4s ease;
}
h4:hover {
  transform: scale(1.067);
  color:white;
  transition: 0.4s ease;
}

section:hover {
  transition: 0.4s ease;
  filter: brightness(107%);
}

aside:hover {
  transform: scale(1.02);
  transition: 0.4s ease;
}


#WHOTEXT:hover{ 
  font-size: 19px;
  padding:5px;
}
#ZuelligTEXT:hover{ 
   font-size: 19px;
  padding:5px;
}


* {
  animation: fadeIn 0.67s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
