body {
  margin: 0;                  
  padding: 0;
  width: 100%;                
  height: 100%;              
  border: none;               
  font-family: sans-serif, sans-serif, sans-serif;
  background-color: #628258;
}

.MAINCONTENT {
  width: 100%;                
  min-height: 100vh;         
  margin: 0;                  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}



header.heading {
  position: relative;
  width: 100%;
  height: 100vh;   
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

header.heading h3 {
  font-size: 60px;
  margin: 10px 0;
  color: white;
   z-index: 1;
}

header.heading nav {
  margin-top: 20px;            
  border: none;                
  background: rgba(255,255,255,0.8);
  border-radius: 8px;          
}


#PAGELOCATION {
            text-align: right;
  z-index: 2;   
  float: right;
  margin-right: 40px;
  border: #000 solid 1px;
  padding: 10px;
  background-color: black;
  color: white;
  position: fixed;
  top: 20px; 
  right: 140px;
  opacity: 0.7;
}
  nav {
  display: flex;
  justify-content: space-between;
  align-items: center;            
  padding: 15px 30px;            
  background: rgba(255, 255, 255, 0.9); 
  border-radius: 0;              
  width: 100%;                    
  position: relative;
  z-index: 2;
}
  
h1 {
    background-color: #47593e;
    border-radius: 10px;
  margin-right :800px;
  text-align: center;
  float:center;
  font-size: 40px;
  padding: 1px;
  color:#ffffff;
}


nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
  background: white(126, 111, 111, 0.9);
  border-radius: 12px;
  position: relative;
  z-index: 2;
}
nav a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  padding: 8px 14px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #628258;
  color: #fff;
  border-radius: 8px;
}
nav a.active {
  border: #000000 solid 1px ;
  text-align: center;
  background-color: white ;
  color: white;
}

#ISKOCRACY {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  z-index: +2; 
  margin-left: 100px;
  opacity: 0.5;
}
#ISKOGO {
  margin-left: 8px;
  width: 100px;
  height: 100px;
  opacity: 0.5

}
#SDG3:hover {
  transform: skewX(3deg) scale(1.05);
  transition: 0.3s ease;
}

#SDG3 {
  background-color: rgba(129, 155, 116, 0.7); /* semi-transparent to blend */
  text-align: center;
  font-size: 30px;
  border: 3px solid #000000;
  padding: 10px 20px;
  color: white;
  margin: 40px auto;           /* centered */
  border-radius: 8px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7); /* improves readability */
  transition: all 1s ease-out;
}



h2 {
    
    background-color: #47593e;
    border-radius: 10px;
  float:center;
  margin-right:480px;
  margin-left:480px;
  text-align: center;
  font-size: 40px;
  padding: 1px;
  color:#ffffff;
}

.ORGANIZATIONSECTION {
  margin: 10px;
    float:center;
}

#WHOPIC, #ZUEPIC { 
  display: block; 
  margin-left: 120px;
   width: 400px; 
   height: 300px; }
.WHOCONTENT { 
  float:left; 
} 
.ZUECONTENT { 
  float:right; 
} 

#WHOTEXT, 
#ZuelligTEXT{ 
  color:white;
  font-size: 15px; 

    padding:15px;
  float:center; 
  margin-left:30px; 
  width:600px; 
  text-align:center; 

    border-radius: 10px;
  padding: -0px; 
  background-color: #48573f; }





h4 {
    background-color: #47593e;
    color:white;
    border-radius: 10px;
    width: 410px;
    padding-top:10px;
    padding-bottom:10px;
    margin-left: 110px;
    height:auto;
    margin-top:0px;
    font-size: 20px;
    text-align: center;
}

h5 {
    
    background-color: #47593e;
    border-radius: 10px;
    padding:10px;
  float:left;
  width: 700px;
  text-align: center;
  font-size: 40px;
  padding: 1px;
  color:#ffffff;
}

#INTERNATIONALSECTION {
  clear: both;
  padding: 50px 20px; /* 50px top/bottom, 20px left/right */
}


article {
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

#oneaside {
  margin-right:50px;
  margin-top:-325px;

  float:right;
  text-align: left;
  margin-bottom:10px;
}
#twoaside {
  margin-right:50px;
  margin-top:-395px;
  height:290px;
  float:right;
  text-align: left;
  margin-bottom:10px;
}



.program-card {
  display: flex;
  border: 2px solid #000;
  padding: 0;
}

h6 {
  width: 400px;
  margin-left:160px;
  margin-top:-200px;
  font-size: 30px;
  text-align: center;
  color:#ffffff
}
.UNICEFCONTENT {
  margin-left:-40px;
  float:left;
  text-align: left;
  margin-bottom: 50px;
  margin-right:0px;
}
#UNICEFPIC {
  display: block;
  margin-left:0px;
  width: 160px;
  height: 200px;
}

#INTEXT {
  margin-top:10px;
  text-align:  center;
      border-radius: 15px;
  background-color: #44543c;
  padding:10px;
  margin-left:160px;
  margin-top:-75px;
  width:440px;
  height:140px;
  color: white;
  font-size: 18px;
  line-height: 1.4;
}


h6 {
  width: 400px;
  margin-left:160px;
  margin-top:-200px;
  font-size: 30px;
  text-align: center;
  color:#ffffff
}

#h7 {
  font-weight:bold;
  width: 400px;
  margin-left:205px;
  margin-top:-205px;
  font-size: 30px;
  text-align: center;
  color:#ffffff
}
#MSFPIC {
  margin-left:610px;
  width: 160px;
  height: 200px;
}

#INTEXT2 {
  clear:both;

      border-radius: 15px;
  text-align:  center;
  background-color: #44543c;
  margin-left:145px;
  margin-top:-35px;
  padding:10px;
  width:440px;
  height:140px;
  color: white;
  font-size: 18px;
  line-height: 1.4;
}

#LOCALPIC {
  margin-top: 10px;
  clear:both;
  display: block;
  float:left;
  width: 400px;
  height: 300px;
}

#LOC1HEADING {
  float:left;
  font-weight: bold;;
  font-size: 30px;
  text-align: center;
  color:#ffffff
}
#LOC2HEADING {
  float:left;
  margin-left:670px;
  font-weight: bold;;
  font-size: 30px;
  text-align: center;
  color:#ffffff;
}

#LOC1 {
    font-size:20px;
    float:left;
    color:white;
    margin-top:-30px;
    margin-left:1px;
    width:600px;
    height:210px;
    size:15px;
    text-align:center;
    border-radius: 10px;
    padding-top:30px;
    padding: 10px;
    background-color: #5b7250;
} 
#LOC2 {
  font-size:20px;
  clear:left;
    float:left;
    color:white;
    margin-top:-29px;
    margin-left:700px;
    width:600px;
    height:210px;
    size:15px;
    text-align:center;
    border-radius: 10px;
    padding: 10px;
    background-color: #5b7250;
} 


#LOCALPIC2 {
  margin-top: 10px;
  clear:both;
  display: block;
  float:right;
  width: 400px;
  height: 300px;
}


#finalmessage {
  font-size: 25px;
  text-align: center;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
  filter: brightness(70%);
}

header.heading {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

header.heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #628258);
  pointer-events: none;
}


nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  position: relative;
  z-index: 2;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  padding: 8px 14px;
  transition: all 0.3s ease;
}
nav a:hover {
  background-color: #628258;
  color: #fff;
  border-radius: 8px;
}

main {
  min-height: 100vh;
  padding-top: 50px;
  position: relative;
  z-index: 1;
  background: linear-gradient(-45deg, #628258, #819B74, #51724a, #6A8A5B);
  background-size: 400% 400%;
}



footer {
  clear:both;
    background: #49623c;
    padding: 20px;
    text-align: center;
}

.sprite1 {
  background: url('../images/social-media-logos-icons-set_69286-203.avif') 
  no-repeat -524px -64px;
  width: 20px;
  height: 32px;
}
.sprite2 {
	background: url('../images/social-media-logos-icons-set_69286-203.avif') 
  no-repeat -439px -180px;
	width: 27px;
	height: 30px;
}

#INFOM {
  margin-left:1200px;
  color:white;
}
footer .sprite1 {
  position: absolute;
  right: 400px;  
}

footer .sprite2 {
  position: absolute;
  right: 400px;  
}


.MAINCONTENT.scrolled #SDG3 {
  opacity: 1;
  transform: translateY(0);
}

html {
  scroll-behavior: smooth;
}

/* HOVER, ETC AND ANIMATIONS AT THE END */

nav a:hover {
  transform: translateY(-3px);
}

h1:hover {
  opacity: 0.7;
  transition: 0.4s ease;
}
h2:hover {
  transform: scale(1.05);
  transition: 0.4s ease;
   text-shadow: 
    0 0 10px rgb(0, 0, 0), 
}
h3:hover {
  opacity:0.7;
  transform: scale(1.05);
  transition: 0.4s ease;

}
h5:hover {
  opacity:0.7;
  transform: scale(1.05);
  transition: 0.4s ease;

}
article:hover {
  transform: scale(1.02);
  transition: 0.4s ease;
}

img:hover {
  transform: scale(1.067);
  transition: 0.4s ease;
}

nav a:not(.active):hover {
  box-shadow: 0 0 6px rgba(98, 130, 88, 0.8);
}

p:hover {
  transform: scale(1.02);
  transition: 0.4s ease;
}
h4:hover {
  transform: scale(1.067);
  color:white;
  transition: 0.4s ease;
}

section:hover {
  transition: 0.4s ease;
  filter: brightness(107%);
}

aside:hover {
  transform: scale(1.02);
  transition: 0.4s ease;
}


#WHOTEXT:hover{ 
  font-size: 19px;
  padding:5px;
}
#ZuelligTEXT:hover{ 
   font-size: 19px;
  padding:5px;
}


* {
  animation: fadeIn 0.67s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}






